.plans__plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.plans_plan:hover {
  opacity: 1;
}

.plans__plan > button {
  background-color: #e50914;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
